:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    display: grid;
    grid-template-rows: 50px 1fr;
}

header {
    background: gold;
    display: flex;
    flex-direction: row;
}

#user-options {
}

main {
    display: grid;
    grid-template-rows: 33% 20% 7% 40%;
}

#hero-image {
    background: rgb(87, 237, 235);
}

#menu {
    background: rgb(170, 238, 110);
}
#menu-items {
    display: flex;
    justify-content: space-around;
}

#recs {
    background: rgb(234, 93, 198);
}

#item-section {
    background: rgb(255, 123, 0);
}
