:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    display: grid;
}

header {
    background: gold;
    height: 50px;
}

#hero-image {
    background: red;
}

#menu {
    background: red;
}

#recs {
    background: red;
}

#item-list {
    background: red;
}
